<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="LazyLoad" type="System.Configuration.ConfigurationSectionGroup, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" >
            <section name="ProvidersSection" type="Cooperator.Framework.Core.LazyLoad.ProvidersSection, Cooperator.Framework.Core, Version=1.3.3.0, Culture=neutral, PublicKeyToken=8f7f403e20325116" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
        </sectionGroup>
    </configSections>
    <LazyLoad>
        <ProvidersSection>
            <providers>
                <clear />
                <add entityname="default"  classname="abacusRules.LazyProviders.DefaultLazyProvider" assemblyname="abacusData" />
            </providers>
        </ProvidersSection>
    </LazyLoad>
</configuration>


